html {
    height: 100%;
}

body {
    background: #000000;
    color: #FFFFFF;
}

div {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    font-family: 'Roboto Mono', monospace;
}